<div class="container-fluid mb-5">
    <h2>Book Your Order</h2>
    <div class="text-danger" *ngIf='errorMsg'>
         {{errorMsg | json}}
    </div>
    <form *ngIf="!submitted" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    
        <div class="form-group">
            <label for="name">Name</label>
            <input required type="name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="userName" [(ngModel)]="userinfo.name">
            <small  class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
          </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" [(ngModel)]="userinfo.email" required>
          <div class="text-danger" *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.['required']" >Email is required</small>
            <small *ngIf="email.errors?.['pattern']">Email is only accepted email type "@gmail.com"</small>
          </div>
         
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="number" class="form-control" name="phone number" #phone="ngModel" pattern="^\d{10}$" [(ngModel)]="userinfo.phone"  [class.is-invalid]="phone.invalid && phone.touched" required>
            <div *ngIf="phone.invalid && phone.touched" class="text-danger">
              <small *ngIf="phone.errors?.['required']">phone is required</small>
              <small *ngIf="phone.errors?.['pattern']">phone should be at least 10 digits</small>
            </div>
       </div>
        <div class="form-group">
            <select (blur)="validateDish(dish.value)" (change)="validateDish(dish.value)" class="custom-select" #dish="ngModel"  name="dish" [(ngModel)]="userinfo.dish"  [class.is-invalid]="topicHasError && dish.touched" required >
                <option value="default">What I would like to order today</option>
                <option *ngFor="let dish of dishes">{{dish}}</option>
            </select>
            <small class="text-danger" [class.d-none]="!topicHasError || dish.untouched" >please choose a dish</small>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="timeSlot"  value="morning" checked [(ngModel)]="userinfo.timeSlot">
            <label class="form-check-label" >
              Morning: 9AM-12PM
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="timeSlot"  value="evening" [(ngModel)]="userinfo.timeSlot">
            <label class="form-check-label" >
              Evening: 6PM-9PM
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" name="subscribe" [(ngModel)]="userinfo.subscribe" >
            <label class="form-check-label" >
               Send me a coupon
            </label>
          </div>
        <button [disabled]="userForm.form.invalid || topicHasError" type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
